@model IEnumerable<Product>

@{
    ViewData["Title"] = "Anasayfa";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="row">
                        <div class="col-4">
                            <img src="@product.Image" class="card-img" alt="@product.Name resmi" style="width:100%">
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            <h4>Fiyat: <span class="badge bg-teal">@product.Price.ToString("N")</span></h4>
                            <button class="btn btn-primary">Sepete Ekle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>